POSTGRES_DB=surveyapp
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_PORT=5433

PGBOUNCER_PORT=6432
PGBOUNCER_POOL_MODE=transaction
PGBOUNCER_MAX_CLIENT_CONN=300
PGBOUNCER_DEFAULT_POOL_SIZE=30
PGBOUNCER_RESERVE_POOL_SIZE=5
PGBOUNCER_RESERVE_POOL_TIMEOUT=5

ADMINER_PORT=8080
